<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.anly.samples"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name=".SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AActivity"
            android:label="A-Activity"
            android:taskAffinity="com.anly.aactivity">
        </activity>
        <activity
            android:name=".activity.BActivity"
            android:label="B-Activity">
        </activity>
        <activity
            android:name=".activity.CActivity"
            android:label="C-Activity">
        </activity>
        <activity android:name=".textview.TextViewActivity">
        </activity>
        <activity android:name=".textview.TextInputLayoutActivity"/>
        <activity android:name=".rx.DynamicCheckActivity">
        </activity>
        <activity
            android:name=".problem.BackgroundPaddingActivity"
            android:label="@string/title_activity_background_padding"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".pref.MemoryLeakActivity">
        </activity>

        <activity android:name=".pref.leak.HandlerLeakActivity"/>
        <activity android:name=".pref.leak.CursorLeakActivity"/>

        <activity android:name=".aidl.AidlSampleActivity"/>
        <service android:name=".aidl.RemoteService" android:process="com.anly.other"/>

    </application>

</manifest>